

body{
    display: flex;
    flex-direction: column;
    
}
.header{
   
    height: 10vh;
    display: flex;
    flex-direction: row;
   justify-content: space-around;
   align-items: center;
}
.header h1{
  margin-right: 25%;
}
button{
    width: 150px;
    height: 30px;
    background-color: #0f01d3;
    border: none;

}
.header a {
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
}
button:hover{
    background-color: #20aed9;
}
.container{
  
    min-height: 100vh;
    display: flex;
   
    justify-content: space-around;
    align-items: flex-start;
 
  
    


}
.etapes{
 
    background-color: rgba(165, 141, 141, 0.2);
    box-shadow: 5px 15px 10px  rgba(0, 0, 0, 0.356);
    border-radius: 5%;
    width: 900px;
    height: 650px;
    margin: 2%;
 
}
.title{
    padding-left:30px;
    height: 20%;
    color: rgb(0, 0, 0); 
    font-size: 20px;
}
.note{
    padding-left: 110px;
 
    color: red;
    font-size: 30px;
}
    
@media (max-width:450px){
     .header h1 {
     /*   margin-right: 25%; */
        font-size: 1.1em;
        margin-left: 11%;
      }
    
    button{
        width: 50px;
        height: 20px;
        font-size: 0.7em;
       
    
    }

  .title{
    padding-left:30px;
    /* height: 20%; */
  
    font-size: 1em;
}
.note{
    padding-left: 2%;
 
  
    font-size: 1em;
}
    }
    

