body {
  
    background: url(../images/001.jpg) no-repeat fixed;
    background-size: cover;
    color: #fff;
    margin: 0 auto;
    font-family: 'Ravi Prakash', cursive;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #373737;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.3s all;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_container {
    margin: 10px 20% 10px 20%;
}



  /* Horloge */
.section-hors{
   
     
    position: fixed;
    z-index: 1;
    right: 5%;
    top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.clock {
    border-radius: 50%;
    background: #fff;
    border: 5px solid white;
    box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
}

.wrap {
    position: relative;
    width: 100px;
    height: 100px;
}

.minute, .heure {
    position: absolute;
    height: 30px; width: 3px;
    margin: auto;
    top: -27%; left: 0;	bottom: 0; right: 0;
    transform-origin: bottom center;
    transform: rotate(0deg);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    background: black;
}
.minute {
    position: absolute;
    height: 50px;
    width: 2px;
    top: -48%;
    left: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(90deg);
}
.seconde {
    position: absolute;
    height: 40px;
    width: 1px;
    margin: auto;
    top: -32%;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 4px;
    background: #ff4b3e;
    transform-origin: bottom center;
    transform: rotate(180deg);
}
.dot {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
    border: 2px solid #1b1b1b;
    border-radius: 50%;
    margin: auto;
}


/* header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 700px;
    line-height: 12px;
}

header h1 {
    font-size: 120px;
    text-transform: uppercase;
}

header img {
    height: 300px;
    border-style: solid;
    border-color: black ;
    border-width: 5px;
    border-radius: 40%;
    filter: opacity(0.9)  grayscale(0.7);
}

header span {
    font-size: 30px;
   
   
    
}
.cont-span{
    background-color: rgb(0, 0, 0, 0.4);
    height: 30px;
    padding: 40px 20px 20px 20px;
    border-radius: 40%;
  

}




/* a propos */

section#about {
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
}


section#about {
    margin-bottom: -30px;
    margin-left: calc(20% + 32px);
    margin-right: calc(20% + 32px);
}

section#about div {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

section#about div h3 {
    font-size: 26px;
    text-transform: uppercase;
}

.d01 { 
    /* background: url(../images/dominik-hofbauer-1yLt0422fYQ-unsplash.jpg);  */
    background-color:#373737 ;
}
.d02 { 
    /* background: url(../images/emerson-vieira-gOQ_57KsJKM-unsplash.jpg); */
    background-color: gray;
 }
.d03 { 
    /* background: url(../images/emerson-vieira-V6kZMhjWveo-unsplash.jpg);  */
    background-color: #373737;
}
.d03 > a{
    color: rgb(255, 255, 255);
   
    text-decoration: none;

}


/* ticket  */

section#ticket {
    background: fixed;
    background-color:#373737 ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}


.card {
    height:300px ;
    width:379px ;
    border-radius: 10px;
    transition: all 0.8s;
    overflow: hidden;
    background: black;
    box-shadow: 0 70px 63px -60px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .border {
    height:290px ;
    width:369px ;
    border-radius: 10px;
    transition: all 1s;
    position: relative;
  }
  
  .border:hover {
      border: 1px solid white;
  }
  .card0 {
    background: url('../images/006.jpg') center center no-repeat;
    background-size: 379px;
  }

      
  .card0:hover {
      background: url('../images/008.PNG') left center no-repeat;
     
      background-size: 600px;
  }
  
  .card0 button {
      background-color: #00000000;
      border-color: #00000000;
  }

  .card h2 {
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    margin: 20px;
    opacity: 0;
    transition: all 1s;
  } 
  
  .fab {
    opacity: 0;
    transition: all 1s;
    color: #fff;
   
  }
  
  .icons {
    position: absolute;
    width: 50px;
    height: 130px; 
    
    /* top: 226px; */
    top: 200px;
    left: 190px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  /* a {
    color: rgb(255, 255, 255);
   
    text-decoration: none;
  } */
  .card:hover h2 {
    opacity: 1;
}

.card:hover .fab {
    opacity: 1;
}

   /* formulair  */
   #forml{
    display: none;
  }

/* pied de page */
footer {
    background-color: #373737;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
}


  /* les media  */

  @media (max-width:765px){
    .wrap {
        position: relative;
        width: 50px;
        height: 50px;
    }
    
    .minute, .heure {
        position: absolute;
        height: 13px; width: 2px;
        margin: auto;
        top: -27%; left: 0;	bottom: 0; right: 0;
        transform-origin: bottom center;
        transform: rotate(0deg);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
        background: black;
    }
    .minute {
        position: absolute;
        height: 25px;
        width: 1px;
        top: -53%;
        left: 0;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
        transform: rotate(90deg);
    }
    .seconde {
        position: absolute;
        height: 22px;
        width: 1px;
        margin: auto;
        top: -32%;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 4px;
        background: #ff4b3e;
        transform-origin: bottom center;
        transform: rotate(180deg);
    }
    .dot {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: white;
        border: 2px solid #1b1b1b;
        border-radius: 50%;
        margin: auto;
    }
    

 

}

@media (max-width:635px){
    header span {
        font-size: 1.3em;
       font-weight: bold;
    }
    header img {
        height: 250px;
     
    }
    section#about div h3 {
        font-size: 1.1em;
        text-transform: uppercase;
    text-align: center;}
    section#ticket {
        /* background: fixed;
        background-color:#373737 ;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px; */
        flex-direction: column;
    }
}




